body {
  background-image: linear-gradient(to bottom, rgba(0,0,0,.5), rgba(0,0,0,0)), url("../images/Kondisi Laboratorium -2.PNG");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.brand {
  width: 20px;
  height: 20px;
}

.navbar-brand {
  font-family: 'Nobile', sans-serif;
  font-weight: 500;
  color: white !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

.my-btn {
  border: 1px solid #00008C;
  color: white !important;
  font-size: 16px;
}
.my-btn-primary {
  background-color: #00008C;
  border: 1px solid #00008C;
}

.jumbotron {
  margin-top: 60px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  .display-4 {
    font-family: 'Nobile', sans-serif;
    font-weight: 500;
    color: white;
    margin-top: 30px;
  }
  .lead {
    font-family: 'Assistant', sans-serif;
    color: white;
    margin-top: 10px;
    font-weight: 400;
  }
}

.fix-h {
  height: 200px;
}

// Desktop Only
@media (min-width: 992px) {

  .brand {
    width: 30px;
    height: 30px;
  }
  .navbar-brand {
    font-size: 32px !important;
  }

  .jumbotron {
    .display-4 {
      font-size: 70px;
    }
    .lead {
      font-size: 30px;
    }
  }
  
  .my-btn {
    border-radius: 40px;
  }
  .input-group {
    width: 450px !important;
  }

}

// Mobile Only
@media (max-width: 992px) {
  
  .my-btn {
    background-color: #00008C;
  }
  
}